.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: linear-gradient(to right, black, #333);
  color: gold;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

.logo {
  font-size: 24px;
}

.nav-links a {
  margin: 0 15px;
  text-decoration: none;
  color: gold;
  font-weight: bold;
  transition: 0.3s;
}

.nav-links a:hover {
  color: orange;
}